@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Livvic&display=swap');

.App{
  font-family: 'Lily Script One', cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: #FFFEFE;
}

.circles{
  position: fixed;
  width: 30rem;
  height: 20rem;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: #783937;
  transition: all 100ms ease-out;
}

.button:hover{
  cursor: pointer;
  background-color: white;
  color: #783937;
  border: 4px solid #783937;
}

::-webkit-scrollbar{
  display: none;
}