.homeContainer{
    position: relative;
    display: grid;
    grid-template-columns: 22rem auto 23rem;
    gap: 1rem;
}
.sections{
    border: 1px solid black;
    height: 100%;
}
.pageLoader{
    margin: auto;
    margin-top: 20%;
}
